################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DB/DB.jfm
/DB/DB.dbmdl
